body {
    background-color: black !important;
    color: #ff1100 !important;
}

.barra-nav {
    background-color: #ff1100;

}

@media (min-width: 992px) {
    .barra-nav {
      height: 15vh;
    }
  }


.nav-item .nav-link,
.nav-item .nav-link.active {
  color: white !important;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-item .nav-link:hover {
  text-decoration: underline;
  transform: scale(1.1); /* agranda solo el texto */
}

.nombre-marca {
    margin-left: 5vh;
    font-family: 'Poppins', sans-serif; font-style: italic;
}

#menuPrincipal {
    margin-right: 5vh;
}



@media screen and (max-width: 768px) {
    .primera-imagen  {
        width: 100%;
        height: auto;
        /* Si quieres hacerla más grande, puedes usar un valor más grande */
        transform: scale(1.5);  /* Esto la agranda un 50% */
    }
}


.primera-seccion h1 {
    font-weight: bold;
    color: beige;
}

.presentacion {
    padding: 3rem; /* Relleno interno */
    border-radius: 10px; /* Bordes redondeados */
}

.presentacion .titulo1,
.presentacion p {
    font-weight: bold;
    color: white;
}

.presentacion .titulo2 {
    color:e91d0e ;
    font-weight: bold;
}

.caja-presentacion {
    box-shadow: 0 0 15px 5px rgb(255, 0, 0); 
    border-radius: 10vh;  
}


.servicio {
    height: 40vh;
}

.contenedor-servicio {
    background-color: #1a1a1a;
    color: #f0f0f0;
    
}

.servicio .card:hover {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6) !important;
  }
  
.carrusel img {
    height: 80vh;
    width: 70vh;
}
  
